@import "tailwindcss";

@theme {
    --color-primary: #111624,

}

input{
    width: 100%;
}

/* p, h1, h2, h3, h4, h5{
    color: white
} */

@layer components{
    .input-style{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid grey;
        padding: 0px 10px;
        border-radius: 10px;
        margin-top: 6px;
    }
}